@use "global" as *;

:where(.wp-block-columns) {
  margin-bottom: rem(30);

  @include mq("md") {
    margin-bottom: rem(50);
  }
}

:where(.wp-block-columns.is-layout-flex) {
  column-gap: rem(20);
  row-gap: rem(30);

  @include mq("md") {
    column-gap: rem(50);
  }
}

.wp-block-gallery.has-nested-images figure.wp-block-image {
  place-items: center;
}

.wp-block-image :where(figcaption) {
  margin-top: rem(20);
  font-size: rem(16);
  line-height: 2;
  text-align: center;
}

%h1-base {
  font-weight: var(--bold);
  letter-spacing: 0.05em;
  padding-bottom: rem(20);
  position: relative;
  display: grid;
  place-items: center;

  @include mq("md") {
    font-size: rem(40);
    letter-spacing: initial;
  }
}

.p-home h2 {
  @extend %h1-base;
  font-size: rem(30);
  line-height: calc(44/30);
  padding-bottom: rem(14);

  @include mq("md") {
    padding-bottom: rem(17);
  }
}

.p-page h1,
.p-post h1 {
  @extend %h1-base;
  font-size: rem(20);
  line-height: 1.4;
  padding-bottom: rem(20);

  @include mq("md") {
    padding-bottom: rem(45);
  }
}

.p-home h2::after,
.p-page h1::after,
.p-post h1::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  background-color: var(--main);
  width: rem(40);
  height: rem(4);
  border-radius: 100vh;

  @include mq("md") {
    width: rem(50);
    height: rem(5);
  }
}

.p-page h2 {
  font-size: rem(18);
  font-weight: var(--bold);
  line-height: 1.5;
  letter-spacing: 0.05em;
  padding-bottom: rem(10);
  border-bottom: rem(3) solid var(--light-green);

  @include mq("md") {
    font-size: rem(32);
    letter-spacing: initial;
    border-width: rem(5);
  }
}

.p-page h3 {
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1.5;
  padding-bottom: rem(10);
  border-bottom: rem(3) solid var(--main);

  @include mq("md") {
    font-size: rem(24);
  }
}

.p-page h4 {
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1.5;
  padding-block: rem(13);
  padding-left: rem(40);
  position: relative;

  @include mq("md") {
    font-size: rem(24);
    padding-block: rem(16);
    padding-left: rem(50);
  }
}

.p-page h4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-green);
  width: rem(20);
  height: 100%;

  @include mq("md") {
    width: rem(24);
  }
}

.wp-block-quote {
  margin-top: rem(30);
  background-color: var(--bg-light-gray);
  border-radius: rem(10);
  padding: rem(26) rem(20);
  font-size: rem(16);
  line-height: 2;

  @include mq("md") {
    padding-inline: rem(30);
  }
}