@use "global" as *;

.l-mt50 {
  margin-top: rem(50);
}


.p-common-block {
  background-color: var(--bg-light-gray);
  padding-block: rem(50);
}

.p-common-block__inner {
  display: grid;
  gap: rem(30);

  @include mq("md") {
    grid-template-columns: 40% 1fr;
    gap: rem(50);
  }
}

.p-common-block__img img {
  aspect-ratio: 400/248;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-common-block__text {
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: calc(29/16);

  @include mq("md") {
    font-size: rem(18);
    line-height: 1.5;
  }
}

.c-link-text {
  color: var(--link);
  transition: color 0.3s ease;
}

@media (any-hover: hover) {
  .c-link-text:hover {
    opacity: 1;
    color: var(--main);
  }
}

h1 {
  font-size: rem(20);
  font-weight: var(--bold);
  line-height: 1.4;
  letter-spacing: 0.05em;
  padding-bottom: rem(17);
  position: relative;
  display: inline-grid;
  width: fit-content;
  place-items: center;

  @include mq("md") {
    font-size: rem(40);
    letter-spacing: initial;
  }
}

h1::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  background-color: var(--main);
  width: rem(40);
  height: rem(4);
  border-radius: 100vh;
}

h2 {
  font-size: rem(18);
  font-weight: var(--bold);
  line-height: 1.5;
  letter-spacing: 0.05em;
  padding-bottom: rem(10);
  border-bottom: rem(3) solid var(--light-green);

  @include mq("md") {
    font-size: rem(32);
    letter-spacing: initial;
    border-width: rem(5);
  }
}

h3 {
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1.5;
  padding-bottom: rem(10);
  border-bottom: rem(3) solid var(--main);

  @include mq("md") {
    font-size: rem(24);
  }
}

h4 {
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1.5;
  padding-block: rem(13);
  padding-left: rem(40);
  position: relative;

  @include mq("md") {
    font-size: rem(24);
    padding-block: rem(16);
    padding-left: rem(50);
  }
}

h4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-green);
  width: rem(20);
  height: 100%;

  @include mq("md") {
    width: rem(24);
  }
}

%c-button-base {
  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;
  gap: rem(16);
  align-items: center;
  text-align: center;
  padding: rem(10) rem(24);
  font-size: rem(16);
  font-weight: var(--bold);
  color: var(--main);
  line-height: calc(29/16);
  text-align: center;
  border-radius: rem(57);
  border: rem(2) solid;
  min-width: rem(300);
  transition: background-color 0.3s ease;
}

%c-button-base::before {
  content: "";
}

%c-button-base::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(18);
  aspect-ratio: 18/12;
  justify-self: flex-end;
}

.c-button {
  @extend %c-button-base;

  @include mq("md") {}
}

.c-button::after {
  background-image: url(../images/common/arrow.svg);
}

.c-button-blank {
  @extend %c-button-base;
  font-size: rem(14);
  line-height: 1.5;
  grid-template-columns: 1fr auto;
}

.c-button-blank::before {
  content: none;
}

.c-button-blank::after {
  background-image: url(../images/common/icon-blank.svg);
  width: rem(18);
  aspect-ratio: 1/1;
}

.c-link-arrow {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  gap: rem(8);
  align-items: center;
  font-size: rem(14);
  line-height: calc(18/14);

  @include mq("md") {
    gap: rem(18);
    font-size: rem(16);
    line-height: 1.5;
  }
}

.c-link-arrow::before {
  content: "";
  background-image: url(../images/common/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(10);
  aspect-ratio: 10/9;

  @include mq("md") {
    width: rem(17);
  }
}

.c-frame {
  background-color: var(--bg-light-gray);
  padding-top: rem(30);
  padding-right: rem(20);
  padding-bottom: rem(23);
  padding-left: rem(40);
  border-bottom: rem(10) solid var(--gray2);
  position: relative;
  font-size: rem(18);
  font-weight: var(--bold);
  color: var(--dark-blue);
  line-height: calc(32/18);

  @include mq("md") {
    padding-top: rem(46);
    padding-right: rem(22);
    padding-bottom: rem(38);
    padding-left: rem(73);
    font-size: rem(24);
    line-height: 2;
  }
}

.c-frame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--link);
  width: rem(20);
  height: calc(100% + rem(10));

  @include mq("md") {
    width: rem(30);
  }
}

blockquote {
  background-color: var(--bg-light-gray);
  border-radius: rem(10);
  padding: rem(30) rem(20);
  font-size: rem(16);
  line-height: 2;
}