@use "global" as *;

.p-footer {
  overflow-x: clip;
  position: relative;
  border-top: rem(10) solid #676767;
  background-color: #F6F6F6;
  padding-top: rem(28);

  @include mq("md") {
    padding-top: rem(66);
  }
}

.p-footer::before {
  content: "";
  background-image: url(../images/common/truck.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: rem(-48);
  left: calc(30/375*100vw);
  width: rem(64);
  aspect-ratio: 92/58;

  @include mq("md") {
    top: rem(-70);
    left: calc(60/1440*100vw);
    width: rem(98);
  }
}

.p-footer__inner.l-inner {
  @include mq("md") {
    max-width: 1250px;
  }
}

.p-footer__container {
  padding-bottom: rem(22);

  @include mq("md") {
    padding-bottom: rem(36);
    display: grid;
    grid-template-columns: rem(220) 1fr;
    gap: min(20/1400*100vw, 20px);
  }
}

.p-footer__info {}

.p-footer__logo {
  width: rem(178);
}

.p-footer__logo img {
  aspect-ratio: 178/61;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-footer__address {
  margin-top: rem(6);
  font-size: rem(14);
  font-style: normal;
  line-height: 2;

  @include mq("md") {
    margin-top: rem(16);
    font-size: rem(16);
    letter-spacing: 0.05em;
  }
}

.p-footer__sns-links {
  margin-top: rem(15);
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  gap: rem(20);
  align-items: center;

  @include mq("md") {
    margin-top: rem(32);
    gap: rem(28);
  }
}

.p-footer__sns-links a {
  display: block;
}

.p-footer__pc {
  display: none;

  @include mq("md") {
    display: block;
    padding-top: rem(4);
  }
}

.p-footer__sp {
  display: block;

  @include mq("md") {
    display: none;
  }
}

.p-footer__nav {
  margin-top: rem(30);
  margin-inline: rem(-10);
  display: grid;
  gap: rem(10);

  @include mq("md") {
    margin: initial;
    grid-template-columns: repeat(4, 1fr);
    column-gap: min(40/1400*100vw, 40px);
    row-gap: rem(30);
    max-width: 940px;
  }
}

.p-footer__nav-item {}

.p-footer__nav-head {
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: calc(24/16);
  letter-spacing: 0.05em;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: rem(8);
  align-items: center;
  background-color: #ECECEC;
  padding-block: rem(9);
  padding-inline: rem(15) rem(24);
  border-bottom: 1px solid #F6F6F6;
  transition: background-color 0.3s;
  cursor: pointer;

  @include mq("md") {
    border-bottom: none;
    grid-template-columns: 1fr;
    padding-inline: rem(15);
  }
}

.p-footer__nav-item:has(.p-footer__nav-sub-list) .p-footer__nav-head:after {
  content: "";
  background-image: url(../images/common/chevron.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(12);
  aspect-ratio: 1/1;
  transition: transform 0.3s;

  @include mq("md") {
    content: none;
  }
}

.p-footer__nav-head.is-open {
  background-color: color-mix(in srgb, var(--bg-light-green) 50%, #ECECEC 50%);
}

.p-footer__nav-head.is-open:after {
  transform: rotate(180deg);
}

.p-footer__nav-sub-list {
  background-color: color-mix(in srgb, var(--bg-light-green) 50%, #ECECEC 50%);
  border-left: rem(3) solid var(--main);
  display: none;

  @include mq("md") {
    display: grid;
    gap: rem(12);
    margin-top: rem(20);
    border-left: none;
    background-color: initial;
  }
}

.p-footer__nav-item.is-open .p-footer__nav-sub-list {
  display: block;
}

.p-footer__nav-sub-item {
  border-image-width: 0 0 1px;
  border-style: solid;
  border-image: linear-gradient(to right,
      transparent rem(15),
      #F6F6F6 rem(15)) 1;
  padding-block: rem(8);
  padding-inline: rem(15) rem(24);
  font-size: rem(14);
  font-weight: var(--medium);
  line-height: calc(24/16);
  letter-spacing: 0.05em;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: rem(10);
  align-items: center;

  @include mq("md") {
    padding: initial;
    font-size: clamp(10px, calc(16 / 1400 * 100vw), 16px);
    letter-spacing: initial;
    overflow-wrap: anywhere;
    word-break: keep-all;
  }
}

.p-footer__nav-sub-item::before {
  content: "";
  background-image: url(../images/common/arrow2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(10);
  aspect-ratio: 10/9;
}

.p-footer__bottom {
  background-color: var(--white);
  margin-inline: calc(50% - 50vw);
  padding-inline: calc(50vw - 50%);
  padding-block: rem(16);

  @include mq("md") {
    padding-block: rem(29) rem(43);
    display: flex;
    justify-content: space-between;
  }
}

.p-footer__links {
  display: grid;
  gap: rem(12);

  @include mq("md") {
    grid-template-columns: repeat(3, auto);
    gap: rem(30);
  }
}

.p-footer__link a {
  font-size: rem(14);
  line-height: calc(20/14);
  letter-spacing: 0.05em;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: rem(10);
  align-items: center;

  @include mq("md") {
    font-size: rem(16);
    line-height: calc(24/16);
  }
}

.p-footer__link a::before {
  content: "";
  background-image: url(../images/common/arrow2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(10);
  aspect-ratio: 10/9;
}

.p-footer__copyright {
  margin-top: rem(20);

  @include mq("md") {
    margin-top: initial;
  }
}

.p-footer__copyright small {
  font-size: rem(14);
  line-height: calc(20/14);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media (any-hover: hover) {
  .p-footer__nav-head:hover {
    opacity: 1;
    background-color: var(--light-green);
    background-color: color-mix(in srgb, var(--light-green) 50%, #ECECEC 50%);
  }
}