@use "global" as *;

.p-header {
  width: 100%;
  height: rem(55);
  background-color: var(--white);

  @include mq("md") {
    height: auto;
    padding-top: rem(16);
    border-bottom: 1px solid #EBEBEB;
  }
}

.p-header__inner {
  height: inherit;
  background-color: inherit;
  margin-inline: auto;

  @include mq("md") {
    max-width: 1350px;
  }
}

.p-header__wrapper {
  padding-left: rem(8);
  height: inherit;
  display: grid;
  grid-template-columns: rem(182) 1fr rem(55);
  gap: rem(10);
  position: relative;
  z-index: 900;
  background-color: inherit;

  @include mq("md") {
    padding-inline: rem(25);
    grid-template-columns: min(350/1400*100vw, 318px) 1fr rem(240) auto;
    grid-template-areas:
      "logo sns button freedial"
      "nav nav nav nav";
    align-items: center;
    column-gap: min(32/1400*100vw, 32px);
    row-gap: initial;
    position: initial;
  }
}

.p-header__logo-wrap {
  width: 100%;
  height: inherit;
  display: inline-grid;
  grid-template-columns: rem(132) auto;

  @include mq("md") {
    grid-area: logo;
    grid-template-columns: min(248/1400*100vw, 215px) auto;
    gap: rem(8);
  }
}

.p-header__logo {
  height: inherit;

  @include mq("md") {}
}

.p-header__logo img {
  aspect-ratio: 215/73;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-header__truck {}

.p-header__truck img {
  aspect-ratio: 92/58;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.p-header__nav {
  position: relative;
  display: none;
  height: inherit;

  @include mq("md") {
    display: block;
    grid-area: nav;
    position: initial;
  }
}

.p-header__nav-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.p-header__nav-item {
  position: relative;
  padding-block: rem(16);
}

.p-header__nav-modal-wrap {
  padding-block: rem(16);
}

.p-header__nav-item>a,
.p-header__nav-modal-wrap>a {
  padding-block: rem(10);
  display: grid;
  align-items: center;
  text-align: center;
  font-size: clamp(13px, 20/1400*100vw, 20px);
  font-weight: var(--bold);
  line-height: calc(29/20);
  letter-spacing: 0.02em;
  position: relative;
}

.p-header__nav-item>a::before,
.p-header__nav-modal-wrap>a::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 100%;
  background-color: #ebebeb;
}

.p-header__nav-item:last-child::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: calc(100% - rem(32));
  background-color: #ebebeb;
}

.p-header__nav-modal-wrap>a {
  position: relative;
  transition: .3s;
}

.p-header__nav-modal-wrap>a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-image: url(../images/common/chevron.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(11);
  aspect-ratio: 11/6;
}

.p-header__nav-modal {
  padding-block: rem(50) rem(60);
  padding-inline: min(80/1400*100vw, 80px);
  position: absolute;
  top: 100%;
  left: 0;
  transform: scaleY(0);
  transform-origin: top;
  width: 100vw;
  background-color: var(--bg-drawer);
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

.p-header__nav-modal-wrap:hover>.p-header__nav-modal {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}

.p-header__nav-modal-inner {
  display: grid;
  grid-template-columns: calc(360/1200*100%) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "img head"
    "img list";
  column-gap: min(50/1400*100vw, 50px);
  max-width: 1400px;
  margin-inline: auto;
}

.p-header__nav-modal-img {
  grid-area: img;
}

.p-header__nav-modal-img img {
  border-radius: rem(10);
  aspect-ratio: 360/222;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.p-header__nav-modal-head {
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--main);
  line-height: calc(40/28);
  letter-spacing: 0.05em;
  grid-area: head;
}

.p-header__nav-modal-list {
  grid-area: list;
  margin-top: rem(10);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: min(40/1400*100vw, 40px);
  justify-content: space-between;
  height: fit-content;
}

.p-header__nav-modal-item a {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: rem(8);
  padding-block: rem(20);
  border-bottom: 1px solid #E4E4E4;
}

.p-header__nav-modal-item a::after {
  content: "";
  background-image: url(../images/common/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(14);
  aspect-ratio: 14/12;
}


.p-header__sns-links {
  display: none;

  @include mq("md") {
    margin-left: auto;
    grid-area: sns;
    display: grid;
    grid-template-columns: rem(41) rem(32);
    gap: min(28/1400*100vw, 28px);
    align-items: center;
  }
}

.p-header__sns-links a {
  display: block;
}

.p-header__button {
  display: none;

  @include mq("md") {
    display: block;
    grid-area: button;
  }
}

.p-header__button a {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: rem(9);
  align-items: center;
  text-align: center;
  padding-block: rem(14);
  padding-inline: min(25/1400*100vw, 25px);
  font-size: rem(18);
  font-weight: var(--bold);
  color: var(--main);
  line-height: 1;
  text-align: center;
  border-radius: rem(100);
  border: rem(2) solid var(--main);
  transition: background-color 0.3s ease, color 0.3s ease;
}


.p-header__button a::after {
  content: "";
  width: rem(11);
  aspect-ratio: 1/1;
  background-image: url(../images/common/icon-blank.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.p-header__freedial {
  margin-left: auto;
  width: rem(110);
  height: inherit;
  display: grid;
  grid-template-columns: calc(24/110*100%) 1fr;
  grid-template-areas:
    "title title"
    "icon tel";
  gap: rem(2);
  place-content: center;

  @include mq("md") {
    grid-area: freedial;
    width: 100%;
    grid-template-columns: calc(50/241*100%) 1fr;
    row-gap: rem(5);
    column-gap: rem(8);
  }
}

.p-header__freedial-title {
  grid-area: title;
  font-size: 7px;
  line-height: calc(10/7);
  letter-spacing: 0.01em;

  @include mq("md") {
    font-size: rem(15);
    line-height: calc(20/15);
    letter-spacing: 0.02em;
  }
}

.p-header__freedial-icon {
  align-self: center;
  grid-area: icon;
  width: rem(24);
  aspect-ratio: 24/14;

  @include mq("md") {
    width: 100%;
  }
}

.p-header__freedial-tel {
  display: block;
  grid-area: tel;
  font-size: rem(15);
  font-family: var(--anton-font);
  line-height: calc(18/15);

  @include mq("md") {
    font-size: clamp(24px, 34/1400*100vw, 34px);
    line-height: calc(41/34);
  }
}

.p-header__hamburger {
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
  width: 100%;
  height: inherit;
  background-color: var(--main);
  cursor: pointer;
  transition: .3s;

  @include mq("md") {
    display: none;
  }
}

.p-header__hamburger span:not(:nth-child(4)) {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: rem(29);
  height: rem(3);
  border-radius: 100vh;
  background-color: var(--white);
  transition: .5s;
}

.p-header__hamburger span:nth-of-type(1) {
  top: rem(-7);
}

.p-header__hamburger span:nth-of-type(2) {
  top: rem(-2);
}

.p-header__hamburger span:nth-of-type(3) {
  top: rem(3);
}

.p-header__hamburger span:nth-child(4) {
  position: relative;
  display: block;
  top: rem(8);
  font-size: rem(12);
  font-weight: var(--bold);
  color: var(--white);
  line-height: 1;
}

.p-header__hamburger span:nth-of-type(4)::before {
  content: "Menu";
  opacity: 1;
  transition: opacity .3s ease;
}

.p-header__hamburger span:nth-of-type(4)::after {
  content: "Close";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity .3s ease;
}

.p-header__hamburger.is-open span:nth-of-type(1) {
  top: rem(3);
  transform: translateX(-50%) rotate(45deg);
}

.p-header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.p-header__hamburger.is-open span:nth-of-type(3) {
  top: rem(-3);
  transform: translateX(-50%) rotate(-45deg);
}

.p-header__hamburger.is-open span:nth-of-type(4)::before {
  opacity: 0;
}

.p-header__hamburger.is-open span:nth-of-type(4)::after {
  opacity: 1;
}

.p-header__drawer {
  margin-top: rem(55);
  padding-bottom: rem(40);
  position: absolute;
  z-index: 800;
  top: 0;
  inset-inline: 0;
  width: 100%;
  height: 100svh;
  overflow-y: auto;
  scrollbar-width: none;
  transition: transform .5s ease;
  transform: translateY(-100%);
}

.p-header__drawer.is-open {
  transform: translateY(0);
}

.p-header__drawer-wrapper {
  padding-bottom: rem(40);
  height: fit-content;
  background-color: var(--bg-drawer);
}

.p-header__drawer::-webkit-scrollbar {
  display: none;
}

.p-header__drawer-item {
  transition: background-color .3s;
  border-bottom: 1px solid var(--light-gray);
}

.p-header__drawer-item>a,
.p-header__drawer-accordion-title {
  padding: rem(20) rem(25);
  display: block;
  font-size: rem(16);
  font-weight: var(--bold);
  line-height: 1.5;
  letter-spacing: 0.05em;
  cursor: pointer;
  position: relative;
}

.p-header__drawer-item>a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(25);
  width: rem(14);
  aspect-ratio: 14/9;
  background-image: url(../images/common/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.p-header__drawer-accordion-title::before,
.p-header__drawer-accordion-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(25);
  width: rem(14);
  height: rem(2);
  display: block;
  background: var(--main);
  border-radius: 100vh;
  transition: transform .3s;
}

.p-header__drawer-accordion-title.is-open {
  color: var(--main);
}

.p-header__drawer-accordion-title::before {
  transform: translateY(-50%);
}

.p-header__drawer-accordion-title::after {
  transform: translateY(-50%) rotate(90deg);
}

.p-header__drawer-accordion-title.is-open::after {
  transform: translateY(-50%);
}

.p-header__drawer-accordion-list {
  display: none;
  border-top: 1px solid var(--light-gray);
  border-left: rem(3) solid var(--main);
  padding-left: rem(22);
}

.p-header__drawer-accordion-list a {
  padding-block: rem(16);
  font-size: rem(14);
  font-weight: var(--medium);
  line-height: calc(20/14);
  letter-spacing: 0.05em;
  border-bottom: 1px solid var(--light-gray);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: rem(11);
  align-items: center;
}

.p-header__drawer-accordion-list a::before {
  content: "";
  width: rem(9);
  aspect-ratio: 9/6;
  background-image: url(../images/common/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.p-header__drawer-sns-links {
  margin-top: rem(30);
  display: grid;
  grid-template-columns: rem(47) rem(37);
  gap: rem(30);
  align-items: center;
  justify-content: center;
}

.p-header__drawer-sns-links a {
  display: block;
}

.p-header__drawer-en-about {
  margin-top: rem(28);
  text-align: center;
}

.p-header__drawer-en-about a {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  font-size: rem(16);
  font-weight: var(--bold);
  letter-spacing: 0.05em;
  align-items: center;
  gap: rem(5);
}

.p-header__drawer-en-about a::before {
  content: "";
  position: relative;
  top: 0.1em;
  width: rem(13);
  aspect-ratio: 1/1;
  background-image: url(../images/common/icon-globe.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.p-header__drawer-button {
  margin-top: rem(28);
  text-align: center;
}

@media (any-hover: hover) {

  .p-header__nav-item:hover,
  .p-header__nav-modal-wrap:hover {
    background-color: var(--bg-light-green);
  }

  .p-header__drawer-item>a:hover,
  .p-header__drawer-item:hover {
    background-color: var(--bg-light-green);
  }
}