@use "global" as *;

.p-sub-news {}

.p-sub-news__title {}

.p-sub-news__container {
  margin-top: rem(50);
  margin-inline: calc(50% - 50vw);
  padding-inline: calc(50vw - 50%);
  padding-block: rem(50);
  background-color: var(--bg-light-green);

  @include mq("md") {
    margin-top: rem(70);
    padding-block: rem(100);
  }
}

.p-sub-news__inner.l-inner {}

.p-sub-news__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(20);
  row-gap: rem(30);

  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    column-gap: min(42/1400*100vw, 42px);
    row-gap: rem(50);
  }
}

.p-sub-news__item {}

.p-news__text {}

.p-sub-news__pagination {
  margin-top: rem(50);

  @include mq("md") {
    margin-top: rem(100);
  }
}

.p-sub-news__pagination:not(:has(.wp-pagenavi)) {
  display: none;
}