@use "global" as *;

.l-mtb1 {
  margin-top: rem(50);
  margin-bottom: rem(30);

  @include mq("md") {
    margin-top: rem(70);
    margin-bottom: rem(50);
  }
}

.l-mtb2 {
  margin-top: rem(40);
  margin-bottom: rem(20);

  @include mq("md") {
    margin-top: rem(50);
    margin-bottom: rem(30);
  }
}