:root {
	--base-font: "Zen Kaku Gothic New", sans-serif;
	--anton-font: "Anton", sans-serif;
	--roboto-font: "Roboto", sans-serif;
}

:root {
	--light: 300;
	--normal: 400;
	--medium: 500;
	--semi-bold: 600;
	--bold: 700;
}

:root {
	--black: #333;
	--white: #fff;
	--main: #00561F;
	--light-green: #A5D4AD;
	--light-beige: #FAF2EE;
	--light-gray: #E8E8E8;
	--gray: #707070;
	--gray2: #D7D7D7;
	--dark-blue: #003567;
	--link: #4182B4;
	--bg-light-gray: #F5F5F5;
	--bg-drawer: #F7F7F7;
	--bg-light-green: #EBF6EF;
	--bg-light-blue: #E1EAFA;
}

.u-desktop {
	display: none;
}

/* リキッドレイアウト対応 */

html {
	font-size: 16px;
}

/* pcの電話番号発信対応 */

a {
	-webkit-text-decoration: none;
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s;
}

/* hover指定できるPCを想定したスタイル */

/* hoverが使えないタッチ端末を想定した装飾 */

body {
	word-wrap: break-word;
	word-wrap: break-word;
	color: #333;
	color: var(--black);
	display: flex;
	flex-direction: column;
	font-family: "Zen Kaku Gothic New", sans-serif;
	font-family: var(--base-font);
	font-size: 1.125rem;
	font-weight: 500;
	font-weight: var(--medium);
	line-height: 1.8;
	min-height: 100svh;
	text-rendering: optimizeSpeed;
}

body.is-fixed {
	overflow: hidden;
}

main {
	flex: 1;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100svh;
	text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
	list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
	filter: blur(10px);
}

/* フォームリセット */

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

:where(.wp-block-columns.is-layout-flex) {
	gap: 3.125rem;
}

.p-page h1,
.p-home h2 {
	align-items: center;
	display: grid;
	font-weight: 700;
	font-weight: var(--bold);
	justify-items: center;
	letter-spacing: 0.05em;
	padding-bottom: 1.0625rem;
	place-items: center;
	position: relative;
}

.p-home h2 {
	font-size: 1.875rem;
	line-height: 1.4666666667;
	padding-bottom: 0.875rem;
}

.p-page h1 {
	font-size: 1.25rem;
	line-height: 1.4;
	padding-bottom: 1.0625rem;
}

.p-home h2::after,
.p-page h1::after {
	background-color: #00561F;
	background-color: var(--main);
	border-radius: 100vh;
	bottom: 0;
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	width: 2.5rem;
}

.p-page h2 {
	border-bottom: 0.1875rem solid #A5D4AD;
	border-bottom: 0.1875rem solid var(--light-green);
	font-size: 1.125rem;
	font-weight: 700;
	font-weight: var(--bold);
	letter-spacing: 0.05em;
	line-height: 1.5;
	padding-bottom: 0.625rem;
}

.p-page h3 {
	border-bottom: 0.1875rem solid #00561F;
	border-bottom: 0.1875rem solid var(--main);
	font-size: 1rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 1.5;
	padding-bottom: 0.625rem;
}

.p-page h4 {
	font-size: 1rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 1.5;
	padding-bottom: 0.8125rem;
	padding-left: 2.5rem;
	padding-top: 0.8125rem;
	position: relative;
}

.p-page h4::before {
	background-color: #A5D4AD;
	background-color: var(--light-green);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 1.25rem;
}

blockquote {
	background-color: #F5F5F5;
	background-color: var(--bg-light-gray);
	border-radius: 0.625rem;
	font-size: 1rem;
	line-height: 2;
	padding: 1.875rem 1.25rem;
}

.c-btn {
	background-color: black;
	color: yellow;
	padding: 0.625rem 2.5rem;
}

.c-button {
	align-items: center;
	background-color: #fff;
	background-color: var(--white);
	border: 0.125rem solid #00561F;
	border: 0.125rem solid var(--main);
	border-radius: 3.5625rem;
	color: #00561F;
	color: var(--main);
	display: inline-grid;
	font-size: 1rem;
	font-weight: 700;
	font-weight: var(--bold);
	gap: 1rem;
	grid-template-columns: 1fr auto 1fr;
	line-height: 1.8125;
	padding: 0.625rem 1.5rem;
	text-align: center;
	text-align: center;
	transition: background-color 0.3s ease, color 0.3s ease;
	width: min(100%, 18.75rem);
}

.c-button::before {
	content: "";
}

.c-button::after {
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
	-webkit-mask-image: url(../images/common/arrow.svg);
	aspect-ratio: 18/12;
	background-color: currentColor;
	content: "";
	justify-self: flex-end;
	mask-image: url(../images/common/arrow.svg);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	width: 1.125rem;
}

.c-button--blank {
	font-size: 0.875rem;
	line-height: 1.5;
	padding: 0.875rem 2.5rem;
}

.c-button--blank::after {
	-webkit-mask-image: url(../images/common/icon-blank.svg);
	aspect-ratio: 1/1;
	mask-image: url(../images/common/icon-blank.svg);
	width: 1.125rem;
}

.c-button--anchor::after {
	-webkit-mask-image: url(../images/common/arrow.svg);
	mask-image: url(../images/common/arrow.svg);
	transform: rotate(90deg);
}

.c-button--blank2 {
	gap: 1.375rem;
	width: min(100%, 20.3125rem);
}

.c-button--blank2::after {
	-webkit-mask-image: url(../images/common/icon-blank.svg);
	aspect-ratio: 1/1;
	justify-self: flex-start;
	mask-image: url(../images/common/icon-blank.svg);
	width: 0.6875rem;
}

.c-button--small::before {
	content: none;
}

.c-pagetop {
	bottom: 3%;
	padding: 0;
	padding: initial;
	position: fixed;
	right: 2%;
	z-index: 100;
}

.c-pagetop::before {
	aspect-ratio: 1/1;
	background-image: url(../images/common/pagetop.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	transition: background-image 0.3s;
	width: 3.125rem;
}

.c-test {
	color: red;
	font-size: 1.25rem;
}

.c-title {
	font-size: 10px;
}

.l-mt50 {
	margin-top: 3.125rem;
}

.p-common-block {
	background-color: #F5F5F5;
	background-color: var(--bg-light-gray);
	padding-bottom: 3.125rem;
	padding-top: 3.125rem;
}

.p-common-block__inner {
	grid-gap: 1.875rem;
	display: grid;
	gap: 1.875rem;
}

.p-common-block__img img {
	-o-object-fit: cover;
	aspect-ratio: 400/248;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-common-block__text {
	font-size: 1rem;
	font-weight: 500;
	font-weight: var(--medium);
	line-height: 1.8125;
}

.c-link-text {
	color: #4182B4;
	color: var(--link);
	transition: color 0.3s ease;
}

.c-link-arrow {
	align-items: center;
	display: inline-grid;
	font-size: 0.875rem;
	gap: 0.5rem;
	grid-template-columns: auto 1fr;
	line-height: 1.2857142857;
}

.c-link-arrow::before {
	aspect-ratio: 10/9;
	background-image: url(../images/common/arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	width: 0.625rem;
}

.c-frame {
	background-color: #F5F5F5;
	background-color: var(--bg-light-gray);
	border-bottom: 0.625rem solid #D7D7D7;
	border-bottom: 0.625rem solid var(--gray2);
	color: #003567;
	color: var(--dark-blue);
	font-size: 1.125rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 1.7777777778;
	padding-bottom: 1.4375rem;
	padding-left: 2.5rem;
	padding-right: 1.25rem;
	padding-top: 1.875rem;
	position: relative;
}

.c-frame::before {
	background-color: #4182B4;
	background-color: var(--link);
	content: "";
	height: calc(100% + 0.625rem);
	left: 0;
	position: absolute;
	top: 0;
	width: 1.25rem;
}

.c-frame-border {
	border: 0.125rem solid #A5D4AD;
	border: 0.125rem solid var(--light-green);
	border-radius: 0.625rem;
	padding: 1.875rem;
}

.c-frame-border__title {
	font-size: 1.25rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 1.5;
}

.c-frame-border__sub-title {
	font-size: 1.125rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 1.5;
	margin-top: 3.125rem;
}

.c-frame-border__text {
	font-size: 1rem;
	line-height: 2;
	margin-top: 1.875rem;
}

.c-frame-border__img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5rem;
}

.c-frame-border__img img {
	-o-object-fit: contain;
	height: auto;
	object-fit: contain;
	width: 100%;
}

.l-img-small {
	width: 70%;
}

.c-frame-green1 {
	background-color: #EBF6EF;
	background-color: var(--bg-light-green);
	padding-bottom: 3.125rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1.25rem;
}

.c-frame-green1__num {
	color: #A5D4AD;
	color: var(--light-green);
	font-size: 2.5rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 1.45;
}

.c-frame-green1__title {
	font-size: 1.125rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 1.7777777778;
}

.c-frame-green1__text {
	font-size: 1rem;
	line-height: 1.8125;
	margin-top: 1.25rem;
}

.c-frame-green1__img {
	margin-top: 1.25rem;
}

.c-frame-green1__img img {
	-o-object-fit: cover;
	aspect-ratio: 295/182;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.c-frame-green2 {
	background-color: #EBF6EF;
	background-color: var(--bg-light-green);
	padding-bottom: 3.125rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1.25rem;
}

.c-frame-green2__num {
	color: #A5D4AD;
	color: var(--light-green);
	font-size: 2.5rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 1.45;
}

.c-frame-green2__title {
	font-size: 1.125rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 1.7777777778;
}

.c-frame-green2__text {
	font-size: 1rem;
	line-height: 1.8125;
	margin-top: 1.25rem;
}

.c-frame-green2__img {
	margin-top: 1.25rem;
}

.c-frame-green2__img img {
	-o-object-fit: cover;
	aspect-ratio: 295/182;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.l-footer {
	margin-top: 6.25rem;
}

.l-header {
	left: 0;
	position: fixed;
	top: 0;
	z-index: 9999;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 37.5rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-news {
	margin-top: 1.875rem;
}

.l-pickup {
	margin-top: 1.6875rem;
}

.p-footer {
	background-color: #F6F6F6;
	border-top: 0.625rem solid #676767;
	overflow-x: clip;
	padding-top: 1.75rem;
	position: relative;
}

.p-footer::before {
	aspect-ratio: 92/58;
	background-image: url(../images/common/truck.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	left: 8vw;
	position: absolute;
	top: -3rem;
	width: 4rem;
}

.p-footer__container {
	padding-bottom: 1.375rem;
}

.p-footer__logo {
	width: 11.125rem;
}

.p-footer__logo img {
	-o-object-fit: contain;
	aspect-ratio: 178/61;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.p-footer__address {
	font-size: 0.875rem;
	font-style: normal;
	line-height: 2;
	margin-top: 0.375rem;
}

.p-footer__sns-links {
	align-items: center;
	display: inline-grid;
	gap: 1.25rem;
	grid-template-columns: repeat(2, auto);
	margin-top: 0.9375rem;
}

.p-footer__sns-links a {
	display: block;
}

.p-footer__pc {
	display: none;
}

.p-footer__sp {
	display: block;
}

.p-footer__nav {
	grid-gap: 0.625rem;
	display: grid;
	gap: 0.625rem;
	margin-left: -0.625rem;
	margin-right: -0.625rem;
	margin-top: 1.875rem;
}

.p-footer__nav-head {
	grid-gap: 0.5rem;
	align-items: center;
	background-color: #ECECEC;
	border-bottom: 1px solid #F6F6F6;
	cursor: pointer;
	display: grid;
	font-size: 1rem;
	font-weight: 700;
	font-weight: var(--bold);
	gap: 0.5rem;
	grid-template-columns: 1fr auto;
	letter-spacing: 0.05em;
	line-height: 1.5;
	padding-bottom: 0.5625rem;
	padding-left: 0.9375rem;
	padding-right: 1.5rem;
	padding-top: 0.5625rem;
	transition: background-color 0.3s;
}

.p-footer__nav-item:has(.p-footer__nav-sub-list) .p-footer__nav-head:after {
	aspect-ratio: 1/1;
	background-image: url(../images/common/chevron.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	transition: transform 0.3s;
	width: 0.75rem;
}

.p-footer__nav-head.is-open {
	background-color: rgb(235, 241, 238);
}

.p-footer__nav-head.is-open:after {
	transform: rotate(180deg);
}

.p-footer__nav-sub-list {
	background-color: rgb(235, 241, 238);
	border-left: 0.1875rem solid #00561F;
	border-left: 0.1875rem solid var(--main);
	display: none;
}

.p-footer__nav-item.is-open .p-footer__nav-sub-list {
	display: block;
}

.p-footer__nav-sub-item {
	-o-border-image: linear-gradient(to right, transparent 0.9375rem, #F6F6F6 0.9375rem) 1;
	grid-gap: 0.625rem;
	align-items: center;
	border-image: linear-gradient(to right, transparent 0.9375rem, #F6F6F6 0.9375rem) 1;
	border-image-width: 0 0 1px;
	border-style: solid;
	display: grid;
	font-size: 0.875rem;
	font-weight: 500;
	font-weight: var(--medium);
	gap: 0.625rem;
	grid-template-columns: auto 1fr;
	letter-spacing: 0.05em;
	line-height: 1.5;
	padding-bottom: 0.5rem;
	padding-left: 0.9375rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
}

.p-footer__nav-sub-item::before {
	aspect-ratio: 10/9;
	background-image: url(../images/common/arrow2.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	width: 0.625rem;
}

.p-footer__bottom {
	background-color: #fff;
	background-color: var(--white);
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	padding-bottom: 1rem;
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
	padding-top: 1rem;
}

.p-footer__links {
	grid-gap: 0.75rem;
	display: grid;
	gap: 0.75rem;
}

.p-footer__link a {
	grid-gap: 0.625rem;
	align-items: center;
	display: grid;
	font-size: 0.875rem;
	gap: 0.625rem;
	grid-template-columns: auto 1fr;
	letter-spacing: 0.05em;
	line-height: 1.4285714286;
}

.p-footer__link a::before {
	aspect-ratio: 10/9;
	background-image: url(../images/common/arrow2.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	width: 0.625rem;
}

.p-footer__copyright {
	margin-top: 1.25rem;
}

.p-footer__copyright small {
	font-size: 0.875rem;
	letter-spacing: 0.05em;
	line-height: 1.4285714286;
	text-transform: uppercase;
}

.p-header {
	background-color: #fff;
	background-color: var(--white);
	height: 3.4375rem;
	width: 100%;
}

.p-header__inner {
	background-color: inherit;
	height: inherit;
	margin-left: auto;
	margin-right: auto;
}

.p-header__wrapper {
	grid-gap: 0.625rem;
	background-color: inherit;
	display: grid;
	gap: 0.625rem;
	grid-template-columns: 11.375rem 1fr 3.4375rem;
	height: inherit;
	padding-left: 0.5rem;
	position: relative;
	z-index: 900;
}

.p-header__logo-wrap {
	display: inline-grid;
	grid-template-columns: 8.25rem auto;
	height: inherit;
	width: 100%;
}

.p-header__logo {
	height: inherit;
}

.p-header__logo img {
	-o-object-fit: contain;
	aspect-ratio: 215/73;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.p-header__truck img {
	-o-object-fit: contain;
	aspect-ratio: 92/58;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.p-header__nav {
	display: none;
	height: inherit;
	position: relative;
}

.p-header__nav-list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.p-header__nav-item {
	padding-bottom: 1rem;
	padding-top: 1rem;
	position: relative;
}

.p-header__nav-modal-wrap {
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.p-header__nav-item > a,
.p-header__nav-modal-wrap > a {
	align-items: center;
	display: grid;
	font-size: max(13px, min(1.4285714286vw, 20px));
	font-weight: 700;
	font-weight: var(--bold);
	letter-spacing: 0.02em;
	line-height: 1.45;
	padding-bottom: 0.625rem;
	padding-top: 0.625rem;
	position: relative;
	text-align: center;
}

.p-header__nav-item > a::before,
.p-header__nav-modal-wrap > a::before {
	background-color: #ebebeb;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
}

.p-header__nav-item:last-child::after {
	background-color: #ebebeb;
	content: "";
	height: calc(100% - 2rem);
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
}

.p-header__nav-modal-wrap > a {
	position: relative;
	transition: 0.3s;
}

.p-header__nav-modal-wrap > a::after {
	aspect-ratio: 11/6;
	background-image: url(../images/common/chevron.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 0;
	content: "";
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 0.6875rem;
}

.p-header__nav-modal {
	background-color: #F7F7F7;
	background-color: var(--bg-drawer);
	left: 0;
	opacity: 0;
	padding-bottom: 3.75rem;
	padding-left: min(5.7142857143vw, 80px);
	padding-right: min(5.7142857143vw, 80px);
	padding-top: 3.125rem;
	position: absolute;
	top: 100%;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.5s;
	visibility: hidden;
	width: 100vw;
}

.p-header__nav-modal-wrap:hover > .p-header__nav-modal {
	opacity: 1;
	transform: scaleY(1);
	visibility: visible;
}

.p-header__nav-modal-inner {
	grid-column-gap: min(3.5714285714vw, 50px);
	-moz-column-gap: min(3.5714285714vw, 50px);
	column-gap: min(3.5714285714vw, 50px);
	display: grid;
	grid-template-areas: "img head" "img list";
	grid-template-columns: 30% 1fr;
	grid-template-rows: auto 1fr;
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
}

.p-header__nav-modal-img {
	grid-area: img;
}

.p-header__nav-modal-img img {
	-o-object-fit: cover;
	aspect-ratio: 360/222;
	border-radius: 0.625rem;
	height: auto;
	object-fit: cover;
	width: 100%;
}

.p-header__nav-modal-head {
	color: #00561F;
	color: var(--main);
	font-size: 1.75rem;
	font-weight: 700;
	font-weight: var(--bold);
	grid-area: head;
	letter-spacing: 0.05em;
	line-height: 1.4285714286;
}

.p-header__nav-modal-list {
	grid-gap: min(2.8571428571vw, 40px);
	display: grid;
	gap: min(2.8571428571vw, 40px);
	grid-area: list;
	grid-template-columns: repeat(3, 1fr);
	height: -moz-fit-content;
	height: fit-content;
	justify-content: space-between;
	margin-top: 0.625rem;
}

.p-header__nav-modal-item a {
	grid-gap: 0.5rem;
	align-items: center;
	border-bottom: 1px solid #E4E4E4;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr auto;
	height: 100%;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
}

.p-header__nav-modal-item a::after {
	aspect-ratio: 14/12;
	background-image: url(../images/common/arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	width: 0.875rem;
}

.p-header__sns-links {
	display: none;
}

.p-header__sns-links a {
	display: block;
}

.p-header__button {
	display: none;
}

.p-header__button a {
	grid-gap: 0.5625rem;
	align-items: center;
	border: 0.125rem solid #00561F;
	border: 0.125rem solid var(--main);
	border-radius: 6.25rem;
	color: #00561F;
	color: var(--main);
	display: grid;
	font-size: 1.125rem;
	font-weight: 700;
	font-weight: var(--bold);
	gap: 0.5625rem;
	grid-template-columns: 1fr auto;
	line-height: 1;
	padding-bottom: 0.875rem;
	padding-left: min(1.7857142857vw, 25px);
	padding-right: min(1.7857142857vw, 25px);
	padding-top: 0.875rem;
	text-align: center;
	text-align: center;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.p-header__button a::after {
	aspect-ratio: 1/1;
	background-image: url(../images/common/icon-blank.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	width: 0.6875rem;
}

.p-header__freedial {
	grid-gap: 0.125rem;
	align-content: center;
	display: grid;
	gap: 0.125rem;
	grid-template-areas: "title title" "icon tel";
	grid-template-columns: 21.8181818182% 1fr;
	height: inherit;
	justify-content: center;
	margin-left: auto;
	place-content: center;
	width: 6.875rem;
}

.p-header__freedial-title {
	font-size: 7px;
	grid-area: title;
	letter-spacing: 0.01em;
	line-height: 1.4285714286;
}

.p-header__freedial-icon {
	align-self: center;
	aspect-ratio: 24/14;
	grid-area: icon;
	width: 1.5rem;
}

.p-header__freedial-tel {
	display: block;
	font-family: "Anton", sans-serif;
	font-family: var(--anton-font);
	font-size: 0.9375rem;
	grid-area: tel;
	line-height: 1.2;
}

.p-header__hamburger {
	background-color: #00561F;
	background-color: var(--main);
	border: none;
	cursor: pointer;
	height: inherit;
	outline: none;
	padding: 0;
	position: relative;
	transition: 0.3s;
	width: 100%;
	z-index: 999;
}

.p-header__hamburger span:not(:nth-child(4)) {
	background-color: #fff;
	background-color: var(--white);
	border-radius: 100vh;
	display: block;
	height: 0.1875rem;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	transition: 0.5s;
	width: 1.8125rem;
}

.p-header__hamburger span:nth-of-type(1) {
	top: -0.4375rem;
}

.p-header__hamburger span:nth-of-type(2) {
	top: -0.125rem;
}

.p-header__hamburger span:nth-of-type(3) {
	top: 0.1875rem;
}

.p-header__hamburger span:nth-child(4) {
	color: #fff;
	color: var(--white);
	display: block;
	font-size: 0.75rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 1;
	position: relative;
	top: 0.5rem;
}

.p-header__hamburger span:nth-of-type(4)::before {
	content: "Menu";
	opacity: 1;
	transition: opacity 0.3s ease;
}

.p-header__hamburger span:nth-of-type(4)::after {
	content: "Close";
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	transition: opacity 0.3s ease;
}

.p-header__hamburger.is-open span:nth-of-type(1) {
	top: 0.1875rem;
	transform: translateX(-50%) rotate(45deg);
}

.p-header__hamburger.is-open span:nth-of-type(2) {
	opacity: 0;
}

.p-header__hamburger.is-open span:nth-of-type(3) {
	top: -0.1875rem;
	transform: translateX(-50%) rotate(-45deg);
}

.p-header__hamburger.is-open span:nth-of-type(4)::before {
	opacity: 0;
}

.p-header__hamburger.is-open span:nth-of-type(4)::after {
	opacity: 1;
}

.p-header__drawer {
	height: 100svh;
	left: 0;
	margin-top: 3.4375rem;
	overflow-y: auto;
	padding-bottom: 2.5rem;
	position: absolute;
	right: 0;
	scrollbar-width: none;
	top: 0;
	transform: translateY(-100%);
	transition: transform 0.5s ease;
	width: 100%;
	z-index: 800;
}

.p-header__drawer.is-open {
	transform: translateY(0);
}

.p-header__drawer-wrapper {
	background-color: #F7F7F7;
	background-color: var(--bg-drawer);
	height: -moz-fit-content;
	height: fit-content;
	padding-bottom: 2.5rem;
}

.p-header__drawer::-webkit-scrollbar {
	display: none;
}

.p-header__drawer-item {
	border-bottom: 1px solid #E8E8E8;
	border-bottom: 1px solid var(--light-gray);
	transition: background-color 0.3s;
}

.p-header__drawer-item > a,
.p-header__drawer-accordion-title {
	cursor: pointer;
	display: block;
	font-size: 1rem;
	font-weight: 700;
	font-weight: var(--bold);
	letter-spacing: 0.05em;
	line-height: 1.5;
	padding: 1.25rem 1.5625rem;
	position: relative;
}

.p-header__drawer-item > a::after {
	aspect-ratio: 14/9;
	background-image: url(../images/common/arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	position: absolute;
	right: 1.5625rem;
	top: 50%;
	width: 0.875rem;
}

.p-header__drawer-accordion-title::before,
.p-header__drawer-accordion-title::after {
	background: #00561F;
	background: var(--main);
	border-radius: 100vh;
	content: "";
	display: block;
	height: 0.125rem;
	position: absolute;
	right: 1.5625rem;
	top: 50%;
	transition: transform 0.3s;
	width: 0.875rem;
}

.p-header__drawer-accordion-title.is-open {
	background-color: #EBF6EF;
	background-color: var(--bg-light-green);
	color: #00561F;
	color: var(--main);
}

.p-header__drawer-accordion-title::before {
	transform: translateY(-50%);
}

.p-header__drawer-accordion-title::after {
	transform: translateY(-50%) rotate(90deg);
}

.p-header__drawer-accordion-title.is-open::after {
	transform: translateY(-50%);
}

.p-header__drawer-accordion-list {
	background-color: #EBF6EF;
	background-color: var(--bg-light-green);
	border-left: 0.1875rem solid #00561F;
	border-left: 0.1875rem solid var(--main);
	border-top: 1px solid #E8E8E8;
	border-top: 1px solid var(--light-gray);
	display: none;
	padding-left: 1.375rem;
}

.p-header__drawer-accordion-list a {
	grid-gap: 0.6875rem;
	align-items: center;
	border-bottom: 1px solid #E8E8E8;
	border-bottom: 1px solid var(--light-gray);
	display: grid;
	font-size: 0.875rem;
	font-weight: 500;
	font-weight: var(--medium);
	gap: 0.6875rem;
	grid-template-columns: auto 1fr;
	letter-spacing: 0.05em;
	line-height: 1.4285714286;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.p-header__drawer-accordion-list a::before {
	aspect-ratio: 9/6;
	background-image: url(../images/common/arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	width: 0.5625rem;
}

.p-header__drawer-sns-links {
	grid-gap: 1.875rem;
	align-items: center;
	display: grid;
	gap: 1.875rem;
	grid-template-columns: 2.9375rem 2.3125rem;
	justify-content: center;
	margin-top: 1.875rem;
}

.p-header__drawer-sns-links a {
	display: block;
}

.p-header__drawer-en-about {
	margin-top: 1.75rem;
	text-align: center;
}

.p-header__drawer-en-about a {
	align-items: center;
	display: inline-grid;
	font-size: 1rem;
	font-weight: 700;
	font-weight: var(--bold);
	gap: 0.3125rem;
	grid-template-columns: repeat(2, auto);
	letter-spacing: 0.05em;
}

.p-header__drawer-en-about a::before {
	aspect-ratio: 1/1;
	background-image: url(../images/common/icon-globe.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	position: relative;
	top: 0.1em;
	width: 0.8125rem;
}

.p-header__drawer-button {
	margin-top: 1.75rem;
	text-align: center;
}

.p-mv {
	background-color: #EBF6EF;
	background-color: var(--bg-light-green);
	overflow-x: clip;
	padding: 1.25rem;
}

.p-mv__swiper-wrap {
	position: relative;
}

.p-mv__swiper {
	overflow: visible;
	overflow: initial;
}

.p-mv__slide {
	position: relative;
}

.p-mv__slide.swiper-slide-active::before {
	background-color: rgba(33, 39, 46, 0.1);
	border-radius: 0.3125rem;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.p-mv__slide::before {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0.3125rem;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.p-mv__img img {
	-o-object-fit: cover;
	aspect-ratio: 335/168;
	border-radius: 0.3125rem;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-mv__catch-img {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 42.1333333333vw;
}

.p-mv__catch-img img {
	-o-object-fit: contain;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.p-mv__catch {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
	display: grid;
	height: 55.7692307692%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 77.5%;
}

.p-mv__title {
	font-size: 1.25rem;
	font-weight: 700;
	font-weight: var(--bold);
	letter-spacing: 0.05em;
	line-height: 1.3333333333;
	text-align: center;
}

.p-mv__next.swiper-button-next,
.p-mv__prev.swiper-button-prev {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	height: 3.125rem;
	width: 3.125rem;
}

.p-mv__next.swiper-button-next {
	right: -1.25rem;
	transform: scale(-1, 1);
}

.p-mv__prev.swiper-button-prev {
	left: -1.25rem;
}

.p-mv__thumbnail {
	margin-top: 0.625rem;
	max-width: 35rem;
}

.p-mv__thumbnail-slide {
	position: relative;
}

.p-mv__thumbnail-slide::before {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0.3125rem;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.p-mv__thumbnail-img img {
	-o-object-fit: cover;
	aspect-ratio: 105/52;
	border-radius: 0.25rem;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-mv__thumbnail-catch-img {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 3.125rem;
}

.p-mv__thumbnail-catch {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
	display: grid;
	height: 55.7692307692%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 77.1428571429%;
}

.p-mv__thumbnail-title {
	font-size: 0.375rem;
	font-weight: 700;
	font-weight: var(--bold);
	letter-spacing: 0.05em;
	line-height: 1.3333333333;
	text-align: center;
}

.p-mv__thumbnail-slide.swiper-slide-thumb-active {
	border-radius: 0.1875rem;
	outline: 0.3125rem solid #00561F;
	outline: 0.3125rem solid var(--main);
	outline-offset: -0.3125rem;
}

.p-mv__thumbnail-slide.swiper-slide-thumb-active::before {
	content: none;
}

.p-news-card {
	background-color: #fff;
	background-color: var(--white);
	border-radius: 0.625rem;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.p-news-card__img img {
	-o-object-fit: cover;
	aspect-ratio: 159/106;
	border-radius: 0.625rem 0.625rem 0 0;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-news-card__body {
	border-top: 1px solid #E8E8E8;
	border-top: 1px solid var(--light-gray);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-bottom: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1rem;
}

.p-news-card__text {
	flex-grow: 1;
	font-size: 0.875rem;
	font-weight: 500;
	font-weight: var(--medium);
	letter-spacing: 0.05em;
	line-height: 1.7142857143;
}

.p-news-card__time {
	color: #00561F;
	color: var(--main);
	font-size: 0.875rem;
	letter-spacing: 0.05em;
	line-height: 1.4285714286;
	margin-top: 0.5rem;
}

.p-news {
	overflow-x: clip;
}

.p-news__container {
	background-color: #EBF6EF;
	background-color: var(--bg-light-green);
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	margin-top: 2.5rem;
	padding-bottom: 1.25rem;
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
	padding-top: 1.25rem;
}

.p-news__list {
	grid-column-gap: 1rem;
	-moz-column-gap: 1rem;
	grid-row-gap: 0.875rem;
	column-gap: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 0.875rem;
}

.p-news__button {
	margin-top: 1.5rem;
	text-align: center;
}

.p-pickup {
	overflow-x: clip;
}

.p-pickup__container {
	background-image: url(../images/top/pickup_sp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	margin-top: 2.5rem;
	padding-bottom: 1.25rem;
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
	padding-top: 1.25rem;
	position: relative;
}

.p-pickup__container::before {
	background-color: rgba(192, 225, 248, 0.84);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.p-pickup__list {
	grid-gap: 1rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 16.875rem);
	justify-content: center;
	position: relative;
}

.p-pickup__item {
	grid-gap: 0;
	display: grid;
	gap: 0;
	grid-row: span 2;
	grid-template-rows: subgrid;
}

.p-pickup__link {
	background-color: #fff;
	background-color: var(--white);
	border-radius: 0.625rem;
	display: inherit;
	grid-row: inherit;
	grid-template-rows: inherit;
}

.p-pickup__img {
	padding: 1.25rem 0.625rem;
}

.p-pickup__img img {
	-o-object-fit: contain;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.p-pickup__text {
	border-top: 1px solid #E8E8E8;
	border-top: 1px solid var(--light-gray);
	font-size: 0.875rem;
	letter-spacing: 0.05em;
	line-height: 1.7142857143;
	padding-bottom: 1.25rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.625rem;
	text-align: center;
}

.p-pickup__banners {
	grid-gap: 1.25rem;
	align-items: center;
	display: grid;
	gap: 1.25rem;
	justify-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
	place-items: center;
}

.p-pickup__banner:nth-child(1) {
	width: 11rem;
}

.p-pickup__banner:nth-child(2) {
	width: 17.8125rem;
}

.p-pickup__banner:nth-child(3) {
	width: 16.875rem;
}

.p-pickup__banner img {
	-o-object-fit: contain;
	height: auto;
	object-fit: contain;
	width: 100%;
}

@media (hover: hover) {

a:hover {
	opacity: 0.8;
}

}

@media (hover: none) {

a:active {
	opacity: 0.8;
}

}

@media (any-hover: hover) {

.c-button:hover {
	background-color: #00561F;
	background-color: var(--main);
	color: #fff;
	color: var(--white);
}

.c-pagetop:hover::before {
	background-image: url(../images/common/pagetop-hover.svg);
}

.c-link-text:hover {
	color: #00561F;
	color: var(--main);
	opacity: 1;
}

.p-footer__nav-head:hover {
	background-color: #EBF6EF;
	background-color: var(--bg-light-green);
	opacity: 1;
}

.p-header__nav-item:hover,
.p-header__nav-modal-wrap:hover {
	background-color: #EBF6EF;
	background-color: var(--bg-light-green);
}

.p-header__drawer-item > a:hover,
.p-header__drawer-item:hover {
	background-color: #EBF6EF;
	background-color: var(--bg-light-green);
}

}

@media screen and (min-width: 768px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

html {
	font-size: 1.6vw;
}

a[href^="tel:"] {
	pointer-events: none;
}

body {
	font-size: 1rem;
	line-height: 2;
}

.p-page h1,
.p-home h2 {
	font-size: 2.5rem;
	letter-spacing: normal;
	letter-spacing: initial;
}

.p-home h2 {
	padding-bottom: 1.0625rem;
}

.p-page h2 {
	border-width: 0.3125rem;
	font-size: 2rem;
	letter-spacing: normal;
	letter-spacing: initial;
}

.p-page h3 {
	font-size: 1.5rem;
}

.p-page h4 {
	font-size: 1.5rem;
	padding-bottom: 1rem;
	padding-left: 3.125rem;
	padding-top: 1rem;
}

.p-page h4::before {
	width: 1.5rem;
}

blockquote {
	padding-left: 1.875rem;
	padding-right: 1.875rem;
}

.c-button {
	border-width: 0.1875rem;
	font-size: 1.25rem;
	line-height: 1.5;
	padding: 1.375rem 4.5rem;
	width: min(100%, 37.5rem);
}

.c-button--blank {
	padding-bottom: 1.375rem;
	padding-top: 1.375rem;
}

.c-button--blank::after {
	width: 1.25rem;
}

.c-button--anchor {
	padding-left: 2.25rem;
	padding-right: 2.25rem;
	width: min(100%, 29.6875rem);
}

.c-button--blank2 {
	padding-left: 2.25rem;
	padding-right: 2.25rem;
	width: min(100%, 29.6875rem);
}

.c-button--blank2::after {
	justify-self: flex-end;
	width: 1.25rem;
}

.c-button--small {
	border-width: 0.125rem;
	font-size: 1rem;
	gap: 0.5625rem;
	grid-template-columns: repeat(2, auto);
	padding-bottom: 0.9375rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-top: 0.9375rem;
	width: -moz-fit-content;
	width: fit-content;
}

.c-test {
	color: green;
	font-size: 3.125rem;
}

.c-title {
	font-size: 20px;
}

.p-common-block__inner {
	gap: 3.125rem;
	grid-template-columns: 40% 1fr;
}

.p-common-block__text {
	font-size: 1.125rem;
	line-height: 1.5;
}

.c-link-arrow {
	font-size: 1rem;
	gap: 1.125rem;
	line-height: 1.5;
}

.c-link-arrow::before {
	width: 1.0625rem;
}

.c-frame {
	font-size: 1.5rem;
	line-height: 2;
	padding-bottom: 2.375rem;
	padding-left: 4.5625rem;
	padding-right: 1.375rem;
	padding-top: 2.875rem;
}

.c-frame::before {
	width: 1.875rem;
}

.c-frame-border {
	padding-bottom: 2.625rem;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
	padding-top: 3.125rem;
}

.c-frame-border__title {
	font-size: 1.5rem;
}

.c-frame-border__sub-title {
	font-size: 1.25rem;
}

.c-frame-border__text {
	margin-top: 1.25rem;
}

.c-frame-border__img {
	margin-top: 3.75rem;
}

.l-img-small {
	width: 30%;
}

.l-footer {
	margin-top: 7.5rem;
}

.l-inner {
	max-width: 1050px;
	padding-left: 25px;
	padding-right: 25px;
}

.l-news {
	margin-top: 4.375rem;
}

.l-pickup {
	margin-top: 4.375rem;
}

.p-footer {
	padding-top: 4.125rem;
}

.p-footer::before {
	left: 4.1666666667vw;
	top: -4.375rem;
	width: 6.125rem;
}

.p-footer__inner.l-inner {
	max-width: 1250px;
}

.p-footer__container {
	grid-gap: min(1.4285714286vw, 20px);
	display: grid;
	gap: min(1.4285714286vw, 20px);
	grid-template-columns: 13.75rem 1fr;
	padding-bottom: 2.25rem;
}

.p-footer__address {
	font-size: 1rem;
	letter-spacing: 0.05em;
	margin-top: 1rem;
}

.p-footer__sns-links {
	gap: 1.75rem;
	margin-top: 2rem;
}

.p-footer__pc {
	display: block;
	padding-top: 0.25rem;
}

.p-footer__sp {
	display: none;
}

.p-footer__nav {
	-moz-column-gap: min(2.8571428571vw, 40px);
	column-gap: min(2.8571428571vw, 40px);
	grid-template-columns: repeat(4, 1fr);
	margin: 0;
	margin: initial;
	max-width: 940px;
	row-gap: 1.875rem;
}

.p-footer__nav-head {
	border-bottom: none;
	grid-template-columns: 1fr;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.p-footer__nav-item:has(.p-footer__nav-sub-list) .p-footer__nav-head:after {
	content: none;
}

.p-footer__nav-sub-list {
	grid-gap: 0.75rem;
	background-color: transparent;
	background-color: initial;
	border-left: none;
	display: grid;
	gap: 0.75rem;
	margin-top: 1.25rem;
}

.p-footer__nav-sub-item {
	word-wrap: anywhere;
	font-size: max(10px, min(1.1428571429vw, 16px));
	letter-spacing: normal;
	letter-spacing: initial;
	padding: 0;
	padding: initial;
	word-break: keep-all;
}

.p-footer__bottom {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2.6875rem;
	padding-top: 1.8125rem;
}

.p-footer__links {
	gap: 1.875rem;
	grid-template-columns: repeat(3, auto);
}

.p-footer__link a {
	font-size: 1rem;
	line-height: 1.5;
}

.p-footer__copyright {
	margin-top: 0;
	margin-top: initial;
}

.p-header {
	border-bottom: 1px solid #EBEBEB;
	height: auto;
	padding-top: 1rem;
}

.p-header__inner {
	max-width: 1350px;
}

.p-header__wrapper {
	-moz-column-gap: min(2.2857142857vw, 32px);
	align-items: center;
	column-gap: min(2.2857142857vw, 32px);
	grid-template-areas: "logo sns button freedial" "nav nav nav nav";
	grid-template-columns: min(25vw, 318px) 1fr 15rem auto;
	padding-left: 1.5625rem;
	padding-right: 1.5625rem;
	position: static;
	position: initial;
	row-gap: initial;
}

.p-header__logo-wrap {
	gap: 0.5rem;
	grid-area: logo;
	grid-template-columns: min(17.7142857143vw, 215px) auto;
}

.p-header__nav {
	display: block;
	grid-area: nav;
	position: static;
	position: initial;
}

.p-header__sns-links {
	grid-gap: min(2vw, 28px);
	align-items: center;
	display: grid;
	gap: min(2vw, 28px);
	grid-area: sns;
	grid-template-columns: 2.5625rem 2rem;
	margin-left: auto;
}

.p-header__button {
	display: block;
	grid-area: button;
}

.p-header__freedial {
	-moz-column-gap: 0.5rem;
	column-gap: 0.5rem;
	grid-area: freedial;
	grid-template-columns: 20.7468879668% 1fr;
	row-gap: 0.3125rem;
	width: 100%;
}

.p-header__freedial-title {
	font-size: 0.9375rem;
	letter-spacing: 0.02em;
	line-height: 1.3333333333;
}

.p-header__freedial-icon {
	width: 100%;
}

.p-header__freedial-tel {
	font-size: max(24px, min(2.4285714286vw, 34px));
	line-height: 1.2058823529;
}

.p-header__hamburger {
	display: none;
}

.p-mv {
	padding-bottom: 1.375rem;
	padding-top: 2.1875rem;
}

.p-mv__slide {
	max-width: 62.5rem;
}

.p-mv__catch-img {
	width: 29.125rem;
}

.p-mv__title {
	font-size: 2.875rem;
}

.p-mv__next.swiper-button-next,
.p-mv__prev.swiper-button-prev {
	height: 4.75rem;
	width: 4.75rem;
}

.p-mv__next.swiper-button-next {
	right: calc(50% - min(39.8571428571vw, 558px));
}

.p-mv__prev.swiper-button-prev {
	left: calc(50% - min(39.8571428571vw, 558px));
}

.p-mv__thumbnail {
	margin-top: 1.25rem;
	max-width: 40rem;
}

.p-mv__thumbnail-slide.swiper-slide-thumb-active {
	border-radius: 0.25rem;
}

.p-news-card__img img {
	aspect-ratio: 373/231;
}

.p-news-card__body {
	padding: 2rem 2.5rem;
}

.p-news-card__text {
	font-size: 1.125rem;
	line-height: 2;
}

.p-news-card__time {
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 1.5rem;
}

.p-news__inner.l-inner {
	max-width: 1250px;
}

.p-news__container {
	margin-top: 5rem;
	padding-bottom: 5rem;
	padding-top: 2.625rem;
}

.p-news__list {
	gap: min(2.8571428571vw, 40px);
	grid-template-columns: repeat(3, 1fr);
}

.p-news__button {
	margin-top: 3.875rem;
}

.p-pickup__container {
	background-image: url(../images/top/pickup_pc.jpg);
	margin-top: 5rem;
	padding-bottom: 4.75rem;
	padding-top: 5rem;
}

.p-pickup__list {
	gap: 2.5rem;
}

.p-pickup__img {
	padding: 2.25rem 0.9375rem 1.5625rem;
}

.p-pickup__text {
	font-size: 1rem;
	font-weight: 700;
	font-weight: var(--bold);
	line-height: 2;
	padding-bottom: 1.375rem;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
	padding-top: 1.125rem;
}

.p-pickup__banners {
	gap: min(2.8571428571vw, 40px);
	grid-template-columns: repeat(3, max-content);
	justify-content: center;
	max-width: none;
	max-width: initial;
}

}

@media (min-width: 1000px) {

html {
	font-size: 16px;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}


/*# sourceMappingURL=style.css.map */
